.slider-container {
    width: 800px;
    height: 600px;
    background: orange;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.image-container {
    width: 4000px;
    height: 600px;
    position: relative;
    transition: left 2s;

}

.slider-image {
    float: left;
    margin: 0px;
    padding: 0px;
}

.button-container {
    top: -30px;
    position: relative;
}
.slider-button {
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background-color: white;
    margin-left: 5px;
}


#slider-image-1:target ~ .image-container {
    left: 0px;
}

#slider-image-2:target ~ .image-container {
    left: -800px;
}

#slider-image-3:target ~ .image-container {
    left: -1600px;
}

#slider-image-4:target ~ .image-container {
    left: -2400px;
}

#slider-image-5:target ~ .image-container {
    left: -3200px;
}