@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

body,
ul,
li,
p {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1.2rem;
    font-family: "Roboto", sans-serif;
}

body {
    margin-bottom: 100px;
}

i {
    color: white;
    font-size: 3rem;
}

a {
    color: white;
    text-decoration: none;
}

img {
    max-width: 100%;
    min-width: 200px;
    display: block;
}

.header {
    background-color: #1d1e20;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.menu {
    display: flex;
}

.menu li {
    margin-left: 10px;
}

.menu li a {
    display: block;
    padding: 10px;
}

/* SECTION */
.grid {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-gap: 20px;
    max-width: 800px;
    padding: 10px;
    margin: 0 auto;
}

.sidebar > div {
    margin-bottom: 10px;
}

@media (max-width: 600px) {
    .grid {
        grid-template-columns: 1fr;
    }

    .sidebar {
        display: flex;
        overflow: scroll;
    }

    .sidebar > div {
        flex: 1 0 200px;
        margin: 0 10px;
    }
}