@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

h1 {
    margin: 40px;
}

.container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
}

.container .box {
    position:relative;
    width: 450px;
    height: 320px;
    background: #000;
}

.container .box .videoBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container .box .videoBox video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .box .contentBox {
    position: absolute;
    top: 40px;
    bottom: 40px;
    right: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    transition: transform 0.5s;
    transform-origin: left;
    transform: scaleX(0);
}

.container .box:hover .contentBox {
    transition: transform 0.5s;
    transform-origin: left;
    transform: scaleX(1);
}

.container .box .contentBox .content {
    position: relative;
    padding: 20px 60px;
    opacity: 0;
}

.container .box:hover .contentBox .content {
    opacity: 1;
    transition: 0.5s;
}


.container .box .contentBox .content h2 {
    color: white;
    font-weight: 500;
    margin-bottom: 10px;
}

.container .box .contentBox .content p {
    color: white;
    font-weight: 300;
}

