@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

body,
ul,
li,
p {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1.2rem;
    font-family: "Roboto", sans-serif;
}

body {
    margin-bottom: 100px;
}

i {
    color: white;
    font-size: 3rem;
}

a {
    color: white;
    text-decoration: none;
}

img {
    max-width: 100%;
    min-width: 200px;
    --height: 200px; /* REVER IMAGENS MESMO TAMANHO */
    display: block;
}

.header {
    background-color: #1d1e20;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.menu {
    display: flex;
}

.menu li {
    margin-left: 10px;
}

.menu li a {
    display: block;
    padding: 10px;
}

/* SECTION */
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1200px;
    margin: 0 auto;
    grid-gap: 20px;
    padding: 10px;
}

.grid > div:nth-child(n+4) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    align-items: center;
}

.grid > div.anuncio {
    display: block;
    grid-column: 1;
    grid-row: 2 / 5;
}

@media (max-width: 600px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid > div:nth-child(n+4) {
        display: block;
    }

    .grid > div.anuncio {
        grid-column: auto;
        grid-row: auto;
        order: -1;
    }
}