@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

body,
ul,
li,
p {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1.2rem;
    font-family: "Roboto", sans-serif;
}

i {
    color: white;
    font-size: 3rem;
}

a {
    color: white;
    text-decoration: none;
}

img {
    max-width: 100%;
    min-width: 200px;
    display: block;
}

.header {
    background-color: #1d1e20;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.menu {
    display: flex;
}

.menu li {
    margin-left: 10px;
}

.menu li a {
    display: block;
    padding: 10px;
}

/* SECTION */
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin: 0 auto;
    max-width: 950px;
    padding: 10px;
}

.grid-item:nth-child(1) {
    grid-row: 1 / 3;
}

.grid-item {
    display: grid;
}

.grid-item img {
    grid-column: 1;
    grid-row: 1/3;
    align-self: end;
}

.grid-item p {
    background: rgba(0, 0, 0, 0.6);
    padding: 10px;
    color: white;
    grid-column: 1;
    grid-row: 2;
    align-self: end;
}